spring:
  application:
    name: auth-server

  # H2 Database Configuration
  datasource:
    url: jdbc:h2:mem:auth_server_db
    driverClassName: org.h2.Driver
    username: sa
    password: 12345

  h2:
    console:
      enabled: true

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
