spring:
  application:
    name: auth-server

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5536/auth_server_db
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
